<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Responsive</title>
    <link rel="stylesheet" href="resources/style.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="container__header">

        <header>
            <div class="logo">
                <img src="resources/logo.png" alt="">
            </div>

            <div class="menu">

                <nav>
                    <ul>
                        <li><a href="#">Alumnos</a></li>
                        <li><a href="#">Promotores</a></li>
                        <li><a href="#">Jefe Departamento</a></li>
                        <li><a href="#">Información</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <i class="fa-solid fa-bars" id="icon_menu"></i>
        

        <div class="header__register">
            <input type="button" class="btn__header-register" value="Inscripción">
        </div>

    </div>

    <main>

        <div class="cover">

            <div class="text__information-cover">
                <h2>Actividades Extraescolares</h2>
                <b>
                    El Instituto Tecnológico de la Costa Grande establece el compromiso de implementar todos sus procesos, orientándolos hacia la satisfacción de sus clientes sustentada en la Calidad del Procesos Educativo, para cumplir cono sus requisitos, mediante la eficacia de un Sistema de Gestión de la Calidad y de mejora continua, conforme a la norma ISO 9001:2008/NMX-CC-9001-IMNC-2008
                </b>

                <div class="buttons__cover">
                    <a class="btn__register-cover" href="">Inscribirse a una actividad</a>
                    <a class="btn__register-cover" href="">Leer acerca de las actividades</a>
                </div>

            </div>

            

            <div class="media__cover">
                <img src="resources/ajedrez.jpg" alt="">
            </div>

        </div>



    </main>



    <script src="resources/script.js"></script>
</body>
</html>